
<div class="main-container">
  <div class="flex row container">
     <div class="img-login-container col-5 mx-2">
     </div>
     <div class="login-container col-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           <div class="mb-5">
              <label for="email">Email</label>
              <input class="form-control  " id="email" formControlName="email" type="email">
              <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" class="error-message">
                 Email is required
              </div>
              <div *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched" class="mt-4 error-message">
                 Email must be a valid email address
              </div>
           </div>
     
           <div>
              <label for="password">Password</label>
              <input class="form-control   " id="password" formControlName="password" type="password">
              <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" class="error-message">
                 Password is required
              </div>
              <div *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched" class="mt-4 error-message">
                 Password must be at least 6 characters long
              </div>
           </div>
     
           <button type="submit" class="btn btn-secondary mt-5" [disabled]="loginForm.invalid">Login</button>
        </form>
     </div>
  </div>
</div>
