/* Ensure full viewport height 

*/


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Set the main container to full height */
  .main-container {
    /* background: linear-gradient(#7c40df 0%,#331856 100%); */
  border-color: rgb(29, 25, 25);
    min-height: 100vh; /* Ensure it covers the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    
    /* Example styles */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Example styles for child elements */
  .main-container h1 {
    color: #333;
  }
  
  .main-container p {
    line-height: 1.6;
  }
  

  ::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background: red;
    border: 3px solid blue;
  }